<!doctype html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/introHCI.css" rel="stylesheet">

<head>
	<title>Home Page</title>
</head>

<body>
   <div>
      <h1 align="center">Find and Seek</h1>
         <div class="buttons">
            <button id="btn1" onclick="window.location.href = 'lost';">I lost an item</button>
            <button id="btn2" onclick="window.location.href = 'found';">I found an item</button>
            <button id="btn3" onclick="window.location.href = 'signin';">Sign in</button>
            <button id="btn4" onclick="window.location.href = 'create';">Create an account</button>
         </div>
   </div>
</body>

</html>
