<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/introHCI.css" rel="stylesheet">
<head>
	<title>Test Page</title>
</head>
<body>
<h1 align="center">Find and Seek</h1>
<div class="buttons">
<button id="btn1" onclick="window.location.href = 'https://w3docs.com';">I lost an item</button>
<button id="btn2">I found an item</button>
<button id="btn3">Sign in</button>
<button id="btn4">Create an account</button>
</div>
</body>
</html>
