<!doctype html>

<html>
<head>
   <title>Lost Items</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="/css/introHCI2.css" rel="stylesheet">
   <script src="js/introHCI.js"></script>
</head>

<body>
<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
  <!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->
<form class="example" action="action_page.php">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
</div>

<h3>Looking for Something?</h3>
<!--{{#each posts}}
   <div class="post" id ="{{id}}">
      <a href="post/{{pid}}">
         <p>{{pid}}</p>
      </a>
   </div>
{{/each}}
  -->
</body>

</html>


