<!doctype html>

<html>
<script src="js/introHCI.js"></script>
<link href="/css/introHCI.css" rel="stylesheet">

<h2 >Filler page</h2>
<a class="back" class="btn btn1" type="button" href="/">
    Back
</a>
</html>
