h1{
	font-size:40px;
}
#btn1{
  display: block;
  border: none;
  height:40px;
  width:250px;
  margin:25px auto;
/*  padding: 14px 14px;
*/  font-size: 20px;

  cursor: pointer;
  text-align: center;
}
#btn2{
  display: block;
  border: none;
  height:40px;
  width:250px;
  margin:25px auto;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}
#btn3,#btn4{
  display: block;
  height:100px;
  width:100%;
  margin:0 auto;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}
body{
	margin-top:150px;
}

